<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <nav>
        <div class="nav">
                <h1>Banking Management System <i class="fas fa-piggy-bank"></i></h1>
        </div>
    </nav>
    <div class="h1">
        <h1>Add Customer Details Here</h1>
    </div>
    <div class="form-addc">
        <form action="/" method="post" class="add-user">
            <div class="input">
                <input type="text" value="" name="name" placeholder="enter name of customer" autocomplete="off">
            </div>
            <div class="input">
                <input type="text" value="" name="account" placeholder="enter account no." autocomplete="off">
            </div>
            <div class="input">
                <input type="text" value="" name="amount" placeholder="enter amount" autocomplete="off">
            </div>
            <div class="button">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/logic.js"></script>
    
    <div class="footer">
        <p><i class="far fa-copyright" style="user-select: auto;"></i> Sumit Morwal</p>
    </div>

</body>
</html>