html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    background: white; 
}
@media only screen and (max-width:720px){
    html,body{
       background-color: whitesmoke;
    }
}

.nav{
    margin: auto;
    padding: 1px;
    text-align: center;
    background-color: crimson;
    color: whitesmoke;
    font-family: Arial;
    font-size: 40px; 
box-shadow: 5px 4px 15px -4px rgba(0,0,0,0.6);
}
.nav h1{
    margin: 0px;
}

/* responsive */
@media only screen and (max-width:789px){
    .nav{
        font-size: large;
        background-color: rgb(14, 14, 88);
    }
}

/* index ejs */
.hide{
    font-family: "Arial Narrow";
    margin: auto;
    width: 22%;
    text-align: center;
    border: none;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 12px;
    color: rgb(26, 25, 25);
    font-family: 'Trebuchet MS';
}

.cstmr,.trns{
    border: none;
    color: whitesmoke;
    background-color: rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    margin: auto 50px;
    border-radius: 25px;
    box-shadow: 5px 4px 15px -4px rgba(0,0,0,0.6);
    font-size: 30px;
    border: 3px solid black;
}

.cstmr:hover{
    background-color: whitesmoke;
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

.trns:hover{
    background-color: whitesmoke;
    border: 3px solid black;
    color: black;
    cursor: pointer;
}

.main-ind{
    margin-top: 140px;
    width: 100%;
    height: 100%;
    padding: 30px 30px;
    text-align: center;
}
.cst,.trn{
    display: inline;
}

.footer{
    position:fixed;
    text-align: center;
    bottom:0px;
    height:40px;
    width:100%;
    background:rgb(233, 214, 214); 
    box-shadow: 4px -3px 15px -7px rgba(0,0,0,0.6);
}

/* responsive */
@media only screen and (max-width:720px){
    .cstmr,.trns{
        font-size: 16px;
        display: inline;
        margin: 0%;
        background-color: rgb(14, 9, 44);
    }
    .main-ind{
        padding: 15px 0px;
        margin-top: 30vh;
        max-width: 100%;
        display: flex;
        justify-content:space-evenly;
    }
    .hide{
        font-size: 8px;
        width: 90%;
    }
    .footer{
        background:	#34568b;
        color: white; 
        height: fit-content;
        padding: 0.1%;
        font-size: 10px;
    }
    
}






/* customers ejs */

.container-c{
    width: 90%;
    margin: auto ;
    display: flex;
    justify-content: space-between;
}
.h2-c{
    /* display: inline; */
    font-family: "Segoe UI";
}

.div-ac{
    /* display: inline; */
    width: fit-content;
    font-family: "Segoe UI";
}

.add-customer{
    text-decoration: none;
}

.add-customer:hover{
    color: blue;
    text-decoration: underline;
}

.table a{
    text-decoration: none;
}



.table{
    text-align: center;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 14px;
    height: 390px;
    overflow-y: auto;
}

table{
    
    border-spacing:0;
    width:100%;
    font-family:sans-serif;
}
thead{
    color: whitesmoke;
    background-color: rgb(19, 19, 22);
}

td,table th{
    padding: 10px;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid black;
    cursor: pointer;
}

.row:hover{
    background-color: rgb(37, 179, 179);
    font-family:sans-serif;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
}


.heading-cstmr h1{
    font-family: Helvetica;
    font-size: 22px;
}


.footer p{
    font-family: "Arial";
}

@media only screen and (max-width:720px){

    .container-c{
        width: 97%;
        max-width: 100%;
        margin: 1% 2%;
        display: flex;
        justify-content: space-between;
    }
    .div-ac{
        margin-left: 3px;
        text-align: right;
    }
    .row:hover{
        background-color: rgb(14, 20, 70);
        font-family:sans-serif;
        color: whitesmoke;
        box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
    }
    thead{
        background-color: rgb(14, 9, 44);
    }
    .v{
        font-size: 10px;
    }
    .h2-c{
        text-align: left;
        color: rgb(32, 32, 32);
    }
    .table{
        width: 95%;
        font-size: 14px;
        background-color: whitesmoke;
        height: fit-content;
    }

}

/* add customer */

.form-addc{
    transition: max-height 0.2s ease-out;
}


/* transactions */
.btn-trns{
    text-align: right;
    margin-top: 10px;
}
#btn-his{
    border: none;
    padding: 7px;
    margin-left: 15px;
    height: fit-content;
    width: fit-content;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bolder;
    border: 1px solid rgb(39, 39, 39);
    
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: Verdana;
    box-shadow:-2px 4px 10px -5px rgba(0,0,0,0.99);
}

#btn-his:hover{
    color: rgb(39, 39, 39);
    border: 1px solid rgb(0, 0, 0);
    background-color: palegreen;
}

.trns-history .table{
    background-color: rgba(255, 255, 255, 0.459);
    width: 700px;
    height: fit-content;
    border-radius: 5px;
    display: flex;
}
.trns-history p{
    display: inline;
    font-family: 'Trebuchet MS';
    margin-left: 60px;
}

/* .trns-history .row:hover{
    background-color: rgb(85, 72, 0);
    font-family:sans-serif;
    color: rgb(255, 239, 233);
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
} */

.make-tr {
    text-align: center;
    margin: 70px auto;  
    width: fit-content;
    
}

.make-tr a:hover{
    color: dodgerblue;
    text-decoration: underline;
}

.make-tr a{
    text-decoration: underline;
    font-size: 150px;
    font-family: sans-serif;
}
.make-tr-hide{
    text-align: center;
    font-family:Helvetica;
    
    color: rgba(0, 104, 202, 0.589);
}

marquee{
    color: rgb(16, 9, 56);
    font-family: 'Lucida Sans';
}


@media only screen and (max-width:720px){

    #btn-his{
        font-size: 10px;
        background-color: rgb(247, 244, 244);
    }
    .make-tr-hide{
        font-size: 15px;
    }
     .trns-history .table{
        height: fit-content;
        width: fit-content;
        margin-top: 0%;
     }
     .trns-history table{
         font-size: 15px;
     }

}

/* pay ejs */

.payh1{
    text-align: left;
    margin-left: 50px;
}

.success{
    text-align: center;
    background-color: rgb(66, 231, 141);
    font-family: "Cambria";
    font-size: 40px;
    padding: 2px;
    margin-top: 30px;
    color: rgb(0, 78, 0);
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
}

.sender{
    padding: 70px 10px;
    width: fit-content;
    height: fit-content;
    text-align: left;
    margin: auto;
}

#btn{
    display: block;
    margin: 10px auto;
    border: black;
    height: 40px;
    width: 80px;
    font-size: 23px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgb(94, 94, 94);
    color: #000;
}

#btn:hover{
    background-color: rgb(202, 199, 199);
    border: none; 
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
      
}

.sender select,input{
    height: 30px;
    width: 180px;
    margin: 9px 2px;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
}

.sender h2{
    display: inline;
}

/* responsive */
@media only screen and (max-width:789px){
    .payh1{
        text-align: left;
        font-size: 14px;
        margin-left: 20px;
    }
    .sender{
        margin-top: 1px;
        max-width: 100%;
        width: fit-content;
        height: fit-content;
    }
    .success{
        font-size: 30px;
        
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
    }
}

/* new customer */

.form-addc{
    width: fit-content;
    padding: 20px;
    margin: 30px auto;
    text-align: left;
}

.form-addc button{
    margin: 10px auto;
    border: black;
    height: 40px;
    width: 80px;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.66);
    background-color: rgb(7, 139, 128);
    border: 1px solid rgb(94, 94, 94);
    color: white;
}

button:hover{
    background-color: rgb(0, 112, 94);
    border: none;  
}

.h1{
    font-family:Verdana;
    text-align: center;
    color:rgb(60, 13, 78);
    margin: 13px;
}

/* responsive */
@media only screen and (max-width:789px){
    .h1{
        font-size: 10px;
    }
    .form-addc{
        margin-top: 2px;
        font-size: 15px;
    }
}